<div class="sub-title">SELLERS OF <%= @material.name.upcase %></div>
<br />
<div class="col-xs-6">
  <div class="thumbnail">
    <% if @random_seller.logo? %>
      <%= link_to (image_tag @random_seller.logo.url(:sidebar)), seller_path(@random_seller), class: 'seller-preview' %>
    <% else %>
      <%= link_to (image_tag '/thumbnail-sidebar.png'), seller_path(@random_seller), class: 'seller-preview' %>
    <% end %>

    <div class="caption">
      <h4 style="font-size:16px;"><%= link_to @random_seller2.name, seller_path(@random_seller2) %></h4>
      <div style="font-size:12px;"><%= @random_seller2.country %></div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          &#9889; rating
        </div>
        <div class="col-xs-4 col-sm-6">
          <%= link_to "Visit", @random_seller %>
        </div>
      </div>                  
    </div>
  </div>
</div>
<div class="col-xs-6">
  <div class="thumbnail">
  <% if @random_seller2.logo? %>
    <%= link_to (image_tag @random_seller2.logo.url(:sidebar)), seller_path(@random_seller2), class: 'seller-preview' %>
  <% else %>
      <%= link_to (image_tag '/thumbnail-sidebar.png'), seller_path(@random_seller2), class: 'seller-preview' %>
  <% end %>
    <div class="caption">
      <h4 style="font-size:16px;"><%= link_to @random_seller2.name, seller_path(@random_seller2) %></h4>
      <div style="font-size:12px;"><%= @random_seller2.country %></div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-8 col-sm-6">
          &#9889; rating
        </div>
        <div class="col-xs-4 col-sm-6">
          <%= link_to "Visit", @random_seller2 %>
        </div>
      </div>                  
    </div>
  </div>
</div>