<div class="row">
  <div class="col-xs-6 col-md-3 hide-mobile">
    <%= render 'sellers/random_seller' %>
  </div>
  <div class="col-md-9 nano-card">
    <%# SELLER PROFILE DESKTOP & TABLET %>
    <div class="seller-hide-mobile">
      <div class="col-xs-6 col-md-6">
        <h1><strong><%= @seller.name.upcase %></strong></h1>
        <div class="country">
          <% if @seller.country? %><%= @seller.country%><% end %>
        </div>
        <% if @seller.website? %><%= link_to "Website", @seller.website, class: 'sub-title', target: :_blank %><% end %>
        <br />
        <div class="description-text">
          <% if @seller.description? %>
            <%= simple_format @seller.description %>
          <% end %>
        </div>
        <br />
        <%#<% if @seller.material_id? %><%#= link_to @seller.material.name, @seller.material, class: 'sub-title' %><%# end %>
      </div>

      <div class="col-xs-6 col-md-6">
        <% if @seller.logo? %>
          <%= image_tag @seller.logo.url(:small), class: 'img-responsive' %>
        <% else %>
          <%= image_tag '/thumbnail.png', class: 'img-responsive' %>
        <% end %>
      </div>
    </div>
    <%# END OF SELLER PROFILE DESKTOP & TABLET %>

    <%# SELLER PROFILE MOBILE %>
    <div class="seller-only-mobile">
      <h1><strong><%= @seller.name.upcase %></strong></h1>
      <div class="country">
        <% if @seller.country? %><%= @seller.country%><% end %>
      </div>
      <% if @seller.website? %><%= link_to "Website", @seller.website, class: 'sub-title', target: :_blank %><% end %>
      <br />
      <div class="description-text">
        <% if @seller.description? %>
          <%= @seller.description %>
        <% end %>
      </div>
      <br />
      <%#<% if @seller.material_id? %><%#= link_to @seller.material.name, @seller.material, class: 'sub-title' %><%# end %>

      <center>
        <% if @seller.logo? %>
          <%= image_tag @seller.logo.url(:small), class: 'img-responsive' %>
        <% else %>
          <%= image_tag '/thumbnail.png', class: 'img-responsive' %>
        <% end %>
      </center>
    </div>
    <%# END OF SELLER PROFILE MOBILE %>
  <hr>
  </div>
  <div class="col-md-9 nano-card">
    <%# SELLER PROFILE DESKTOP & TABLET %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Product</th>
          <th>Material</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
      <div class="sub-title"><%= @seller.name.upcase %> PRODUCTS</div>
        <% @products.limit(10).each do |product| %>
          <tr>
          <td><%= link_to product.name, product_path(product) %></td>
          <td><%= link_to product.material.name, product.material %></td>
          <td><%= product.price if product.price %></td>
        <% end %>
          </tr>
      </tbody>
    </table>
      <div class="paginate-parent">
          <div class="paginate">
              <%= paginate @products %>
          </div>
      </div>

  </div>
<div class="row">

  <div class="col-xs-6 col-md-3">

    </div>
    <div class="col-xs-12 col-md-8">
      <br />
      <br />

      <div class="sub-title">OTHER SELLERS</div>
      <br />      

      <% @sellers.each do |seller| %>
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <% if seller.logo? %>
              <%= link_to (image_tag seller.logo.url(:small)), seller, class: 'seller-preview' %>
            <% else %>
              <%= link_to (image_tag '/thumbnail.png'), seller, class: 'seller-preview' %>
            <% end %>
            <div class="caption">
              <h4 style="font-size:16px;"><%= link_to seller.name, seller %></h4>
              <div style="font-size:12px;"><%= link_to seller.country, seller %></div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  &#9889; rating
                </div>
                <div class="col-xs-4 col-sm-6">
                  <%= link_to "Visit", seller %>
                </div>
              </div>                  
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>