<div class="row">
  <div class="col-xs-6 col-md-3 hide-mobile">
    <%= render 'sellers/random_seller' %>
  </div>
  <div class="col-md-8 nano-card">
    <div class="col-xs-6 col-md-6">
      <h1><strong><%= @seller.name.upcase %></strong></h1>
      <br />
      <br />
      <%= link_to "Website", @seller.website, class: 'sub-title', target: :_blank %>
      <br />
      <br />
      <%= link_to @seller.material.name, @seller.material, class: 'sub-title' %>
    </div>

    <div class="col-xs-6 col-md-6">
      <% if @seller.logo? %>
        <%= image_tag @seller.logo.url(:small), class: 'img-responsive' %>
      <% else %>
        <%= image_tag '/thumbnail.png', class: 'img-responsive' %>
      <% end %>
    </div>
    <br />
    <br />
    <hr>
    <div class="sub-title">Products sold by <%= @seller.name %></div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Country</th>
          <th>Webshop</th>
          <th>Company</th>
        </tr>
      </thead>

      <tbody>
          <tr>
          <td>Hello</td>
          <td>Hello</td>
          <td>Hello</td>
          </tr>
      </tbody>
    </table>

  </div>
<div class="row">

  <div class="col-xs-6 col-md-3">

    </div>
    <div class="col-xs-12 col-md-8">
      <br />
      <br />

      <center><div class="sub-title">Other sellers</div></center>
      <br />      

      <% @sellers.each do |seller| %>
        <div class="col-sm-4 col-md-4">
          <div class="thumbnail">
            <% if seller.logo? %>
              <%= link_to (image_tag seller.logo.url(:small)), seller, class: 'seller-preview' %>
            <% else %>
              <%= link_to (image_tag '/thumbnail.png'), seller, class: 'seller-preview' %>
            <% end %>
            <div class="caption">
              <h4 style="font-size:16px;"><%= link_to seller.name, seller_path %></h4>
              <div style="font-size:12px;"><%= seller.country %></div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-8 col-sm-6">
                  &#9889; rating
                </div>
                <div class="col-xs-4 col-sm-6">
                  <%= link_to "Visit", seller %>
                </div>
              </div>                  
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<p id="notice"><%= notice %></p>



