<%= form_with(model: bot_user, local: true) do |form| %>
  <% if bot_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bot_user.errors.count, "error") %> prohibited this bot_user from being saved:</h2>

      <ul>
      <% bot_user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.hidden_field :bot_id, :value => current_user.bot.id %>
  <%= form.hidden_field :user_id,:value=> current_user.id %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :'first name' %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :'last name' %>
  </div>

  <div class="field">
    <%= form.label :messenger_user_id %>
    <%= form.number_field :'messenger user id' %>
  </div>

  <div class="field">
    <%= form.label :chatfuel_user_id %>
    <%= form.number_field :'chatfuel user id' %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.country_select :country %>
  </div>


  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :'gender' %>
  </div>

  <div class="field">
    <%= form.label :source %>
    <%= form.text_field :'source' %>
  </div>

  <div class="field">
    <%= form.label :timezone %>
    <%= form.text_field :'timezone' %>
  </div>

  <div class="field">
    <%= form.label :locale %>
    <%= form.text_field :'locale' %>
  </div>
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
