<p id="notice"><%= notice %></p>

<%= line_chart BotUser.group_by_day(:created_at).count %>


<h1>Bot Users</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>First name</th>
      <th>Messenger User ID</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bot_users.each do |bot_user| %>
      <tr>
        <td><%= bot_user.id %></td>
        <td><%= bot_user.first_name %></td>
        <td><%= bot_user.messenger_user_id %></td>
        <td><%= link_to 'Show', bot_user %></td>
        <td><%= link_to 'Edit', edit_bot_user_path(bot_user) %></td>
        <td><%= link_to 'Destroy', bot_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bot User', new_bot_user_path %>
