<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-xs-6 col-md-4">
    <%= image_tag @bot.image.url(:small), class: 'bot-image' %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <p>
      <h1><strong><%= @bot.name %></strong></h1>
    </p>
    <br/>
    <br/>
    Number of users: <%= @bot.bot_users.count %>
    <br/>
    <br/>
    Registered at: <%= @bot.created_at %>
    <br/>
    <br/>
    <%= link_to "Try the bot", @bot.website, target: :_blank, class: "link box" if @bot.website? %>
    <br/>
    <br/>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>


<div class="row">
  <div class="col-md-6 col-md-6">
    <%= line_chart @bot.bot_users.group_by_day(:created_at).count %>
  </div>
  <div class="col-md-6 col-md-6">
    <%= pie_chart @bot.bot_users.group(:gender).count %>
  </div>
</div>

<br />
<br />

<%= geo_chart @bot.bot_users.group(:country).count %>


<% if user_signed_in? and current_user.bot == @bot %>

  <div class="nano-card">
      <table class="table table-hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Messenger User ID</th>
            <th>Gender</th>
            <th>Timezone</th>
            <th>Source</th>
            <th>Country</th>
          </tr>
          </thead>
          <tbody>
            <% @bot_users.each do |bot_user| %>
                <tr>
                  <td><%= link_to bot_user.id, bot_user_path(bot_user) %></td>
                  <td><%= link_to bot_user.first_name, bot_user_path(bot_user)  %></td>
                  <td><%= bot_user.last_name %></td>
                  <td><%= bot_user.messenger_user_id %></td>
                  <td><%= bot_user.gender %></td>
                  <td><%= bot_user.timezone %></td>
                  <td><%= bot_user.source %></td>
                  <td><%= bot_user.country %></td>
                </tr>
            <% end %>
          </tbody>
      </table>
      <div class="paginate-parent">
          <div class="paginate">
              <%= paginate @bot_users %>
          </div>
      </div>
  </div>
<% end %>
<br />
<br />
<br />
