<div class="sub-title">Other sellers</div>
<div class="thumbnail">
  <% if @random_seller.logo? %>
    <%= link_to (image_tag @random_seller.logo.url(:sidebar)), seller_path(@random_seller), class: 'seller-preview' %>
  <% else %>
    <%= link_to (image_tag '/thumbnail.png'), seller_path(@random_seller), class: 'seller-preview' %>
  <% end %>
  <div class="caption">
    <h4 style="font-size:16px;"><%= link_to @random_seller.name, seller_path(@random_seller) %></h4>
    <div style="font-size:12px;"><%= @random_seller.country %></div>
  </div>
  <div class="panel-footer">
    <div class="row">
      <%#div class="col-xs-8 col-sm-6">
        <% &#9889; rating %>
      <%#/div>
      <%#div class="col-xs-4 col-sm-6"%>
      <center><%= link_to "Visit", @random_seller, class: 'white-text' %></center>
      <%#/div%>
    </div>                  
  </div>
</div>